{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "parser": "vue",
        "htmlWhitespaceSensitivity": "ignore",
        "singleQuote": true,
        "jsxSingleQuote": false
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "parser": "typescript",
        "singleQuote": true,
        "trailingComma": "es5"
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "parser": "css",
        "singleQuote": false,
        "bracketSpacing": true
      }
    },
    {
      "files": ["*.json", "*.json5"],
      "options": {
        "parser": "json",
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "parser": "markdown",
        "proseWrap": "always",
        "printWidth": 80
      }
    },
    {
      "files": ["*.html", "*.htm"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "parser": "yaml",
        "tabWidth": 2
      }
    }
  ]
}
